.container {
  width: 100vw;
  height: 100vh;
  background-color: #DBE2EF;
  margin: 0;
  font-size: large;
}
/* .container::-webkit-scrollbar {
    display: none;
} */

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.team-container {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 200px;
    text-align: center;
    margin-left: 60px;
}

.flex-item1, .flex-item2, .flex-item3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 70px;
}
.icon {
    max-width: 100px;
    max-height: 100px;
}

.logout {
    margin-right: 50px;
    background-color: #ff3333;
    padding: 10px 20px;
    align-self: flex-start;
}

#logging-out {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.flex-item3{
    margin-left: 12px;
}

.ecard {
    border: 2px solid blue;
    height: 260px;
    width: 250px;
    position: relative;
    margin-top: 150px;
    margin-left: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-img {
    position: absolute;
    margin: 0 auto;
    top: -62px;
    left: 0;
    right: 0;
    border-radius: 50%;
    width: 120px; 
    height: 120px;
    box-shadow: 0 0 0 2px #fff;
}